html, body {
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    background-image: url("../images/cccircular.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #270c41;
}

.menuBar {
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    position: absolute;
    left: 66%;
    top: 5%;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    color: #c9803e;
}

a {
    color: white;
    text-decoration: none;
}

.about {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    margin: 0;
    color: #FEFEFE;
    position: absolute;
    left: 10%;
    top: 20%;
}

[type="button"] {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    width: 100%;
    background:#FEFEFE;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: #c9803e ;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    }
[type="button"]:hover { color: #270c41; background:#c9803e; }

@media screen and (max-width: 1500px) {
    .menuBar {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        left: 10%;
    }
}